@page "/AcercaDe"

<div>
        <h2>Edgard Jahel Mendez Perez</h2>
        <hr />
        <img class="imagen" src="https://scontent.fhex5-1.fna.fbcdn.net/v/t39.30808-6/460117684_3564577407021573_238713143420570023_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_ohc=AB21dftmHuwQ7kNvgETww9V&_nc_ht=scontent.fhex5-1.fna&_nc_gid=A68h14ssRnGKW9Two8az56e&oh=00_AYCy2wioRInW6L8a8q8_o74hplGBP41B79s_YrfRrrihsw&oe=66EE3E7A" alt="Foto de Edgard Jahel" />
        <hr />
        <p class="contacto">edgardjahelmendezperez@gmail.com</p>
        <hr />
        <a href="https://wa.me/18098774485?text=Hola%20quiero%20contactarte" target="_blank"> Contactar por WhatsApp </a>
        <hr />
        <a href="https://t.me/Edgard_mp" target="_blank"> Contactar por Telegram </a>
</div>


<style>
    .imagen{
        width: 250px;
        height: 300px;

    }
</style>




