@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://wa.me/18098774485?text=Hola%20quiero%20contactarte" target="_blank">Edgard Jahel Mendez Perez</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
