<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tarea 1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AprendeMas">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Aprende mas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Calculadora">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Calculadora
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TablaMultiplicar">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tabla de Multiplicar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AcercaDe">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Acerca de
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
