@page "/TablaMultiplicar"
<h1>Tabla de Multiplicar</h1>

<p>Tabla de multiplicar del numero que desees </p>

<div>
    <label>Numero:</label>
    <input type="number" @bind="num" class="form-control" />
</div>

@if(num > 0)
{
    for(int i = 0; i <= 15; i ++)
    {
        <p>@num x @i = @(i * num)</p>
    }
}


@code {
    int num = 0;


}
