@inherits LayoutComponentBase
<div class="page" >
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color:lightskyblue">
        <div class="top-row px-4" style="background-color:lightskyblue">
           <p> Edgard Jahel Mendez Perez </p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<style>
    p{
        font-weight:bolder;
    }
</style>